<form [formGroup]="formularioPaciente" (ngSubmit)="guardar()">
  <!-- Datos generales -->
  <mat-card class="mb-4">
    <mat-card-title>Datos del paciente - {{ formularioPaciente.get('id')?.value }}</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-3">
          <mat-label>Nombre(s)</mat-label>
          <input matInput formControlName="nombre" placeholder="Nombre" />
          <mat-error *ngIf="hasError('nombre', 'required')">El nombre es requerido.</mat-error>
          <mat-error *ngIf="hasError('nombre', 'minlength')">El nombre debe tener al menos 2 caracteres.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput formControlName="apellidoPaterno" placeholder="Apellido Paterno" />
          <mat-error *ngIf="hasError('apellidoPaterno', 'required')">El apellido paterno es requerido.</mat-error>
          <mat-error *ngIf="hasError('apellidoPaterno', 'minlength')">El apellido paterno debe tener al menos 2
            caracteres.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Apellido Materno</mat-label>
          <input matInput formControlName="apellidoMaterno" placeholder="Apellido Materno" />
          <mat-error *ngIf="hasError('apellidoMaterno', 'required')">El apellido materno es requerido.</mat-error>
          <mat-error *ngIf="hasError('apellidoMaterno', 'minlength')">El apellido materno debe tener al menos 2
            caracteres.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento"
            placeholder="Selecciona la fecha" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="hasError('fechaNacimiento', 'required')">
            La fecha de nacimiento es requerida.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="femenino">Femenino</mat-option>
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="no_especifica">Prefiero no decir</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('sexo', 'required')">El sexo es requerido</mat-error>
        </mat-form-field>
        </div>

        <div class="row g-3">
        <mat-form-field class="col-md-4">
          <mat-label>Teléfono (10 dígitos)</mat-label>
          <input matInput type="tel" formControlName="telefono" maxlength="10" placeholder="10 dígitos" pattern="[0-9]{10}" (input)="onInputNumber($event)"/>
          <mat-error *ngIf="hasError('telefono', 'required')">El telefono es requerido</mat-error>
          <mat-error *ngIf="hasError('telefono', 'pattern')">Formato inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="hasError('email', 'required')">El email es requerido</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Correo inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>CURP</mat-label>
          <input matInput formControlName="curp" />
          <mat-hint>Opcional</mat-hint>
          <mat-error *ngIf="hasError('curp', 'pattern')">CURP inválida</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Domicilio -->
  <mat-card class="mb-4">
    <mat-card-title>Domicilio</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-6">
          <mat-label>Calle y número</mat-label>
          <input matInput formControlName="calleNumero" />
          <mat-error *ngIf="hasError('calleNumero', 'required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <mat-label>Colonia</mat-label>
          <input matInput formControlName="colonia" />
          <mat-error *ngIf="hasError('colonia', 'required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>Código Postal</mat-label>
          <input matInput formControlName="cp" maxlength="5" inputmode="numeric"  />
          <mat-error *ngIf="hasError('cp', 'required')">Requerido</mat-error>
          <mat-error *ngIf="hasError('cp', 'pattern')">CP inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-5">
          <mat-label>Alcaldía/Municipio</mat-label>
          <input matInput formControlName="municipio" />
          <mat-error *ngIf="hasError('municipio', 'required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" />
          <mat-error *ngIf="hasError('estado', 'required')">Requerido</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Clínico básico -->
  <mat-card class="mb-4">
    <mat-card-title>Información clínica</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-3">
          <mat-label>Tipo de sangre</mat-label>
          <input matInput formControlName="tipoSangre" placeholder="p.ej. O+, A-" />
          <mat-error *ngIf="hasError('tipoSangre', 'required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-9">
          <mat-label>Alergias</mat-label>
          <input matInput formControlName="alergias" />
          <mat-error *ngIf="hasError('alergias', 'required')">Requeridas</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Padecimientos crónicos</mat-label>
          <textarea matInput rows="2" formControlName="padecimientos"></textarea>
          <mat-error *ngIf="hasError('padecimientos', 'required')">Requeridos</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Medicamentos actuales</mat-label>
          <textarea matInput rows="2" formControlName="medicamentos"></textarea>
          <mat-error *ngIf="hasError('medicamentos', 'required')">Requeridos</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Contacto de emergencia -->
  <mat-card class="mb-4">
    <mat-card-title>Contacto de emergencia</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-5">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="emergenciaNombre" />
          <mat-error *ngIf="hasError('emergenciaNombre', 'required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>Relación</mat-label>
          <input matInput formControlName="emergenciaRelacion" />
          <mat-error *ngIf="hasError('emergenciaRelacion', 'required')">Requerida</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>Teléfono</mat-label>
          <input matInput type="tel" formControlName="emergenciaTelefono" maxlength="10" placeholder="10 dígitos" pattern="[0-9]{10}" (input)="onInputNumber($event)"/>
          <mat-error *ngIf="hasError('emergenciaTelefono', 'required')">Requerido</mat-error>
          <mat-error *ngIf="hasError('emergenciaTelefono', 'pattern')">Formato inválido</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Seguro / Convenio -->
  <mat-card class="mb-4">
    <mat-card-title>Seguro médico (opcional)</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-4">
          <mat-label>Aseguradora</mat-label>
          <input matInput formControlName="aseguradora" />
        </mat-form-field>

        <mat-form-field class="col-md-4" *ngIf="formularioPaciente.get('aseguradora')?.value">
          <mat-label>Número de póliza</mat-label>
          <input matInput formControlName="poliza" />
        </mat-form-field>

        <mat-form-field class="col-md-2" *ngIf="formularioPaciente.get('aseguradora')?.value">
          <mat-label>Vigencia desde</mat-label>
          <input matInput [matDatepicker]="vigD" formControlName="vigenciaDesde" />
          <mat-datepicker-toggle matSuffix [for]="vigD"></mat-datepicker-toggle>
          <mat-datepicker #vigD></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-2" *ngIf="formularioPaciente.get('aseguradora')?.value">
          <mat-label>Vigencia hasta</mat-label>
          <input matInput [matDatepicker]="vigH" formControlName="vigenciaHasta" />
          <mat-datepicker-toggle matSuffix [for]="vigH"></mat-datepicker-toggle>
          <mat-datepicker #vigH></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Facturación (se abre si hay RFC) -->
  <mat-card class="mb-4">
    <mat-card-title>Facturación (opcional)</mat-card-title>
    <mat-card-content>
      <div class="row g-3">
        <mat-form-field class="col-md-4">
          <mat-label>RFC</mat-label>
          <input matInput formControlName="rfc" />
          <mat-error *ngIf="hasError('rfc', 'pattern')">RFC inválido</mat-error>
        </mat-form-field>

        <div class="col-12" *ngIf="formularioPaciente.get('rfc')?.value">
          <!-- Facturación (se abre si hay RFC) -->
          <mat-divider class="my-2"></mat-divider>
          <div class="row g-3">
            <mat-form-field class="col-md-6">
              <mat-label>Razón social</mat-label>
              <input matInput formControlName="factRazonSocial" />
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <mat-label>Uso CFDI</mat-label>
              <input matInput formControlName="factUsoCfdi" placeholder="p.ej. G03" />
            </mat-form-field>
            <!-- Facturación (se abre si hay RFC) 
          <div class="col-12 d-flex align-items-center mb-2">
            <mat-slide-toggle (change)="copiarDomicilioFacturacion($event.checked)">
              Usar mismo domicilio del paciente
            </mat-slide-toggle>
          </div>
-->
            <mat-form-field class="col-md-6">
              <mat-label>Calle y número (fiscal)</mat-label>
              <input matInput formControlName="factCalleNumero" />
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <mat-label>Colonia (fiscal)</mat-label>
              <input matInput formControlName="factColonia" />
            </mat-form-field>

            <mat-form-field class="col-md-3">
              <mat-label>CP (fiscal)</mat-label>
              <input matInput formControlName="factCp" maxlength="5" inputmode="numeric" />
              <mat-error *ngIf="hasError('factCp', 'pattern')">CP inválido</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-5">
              <mat-label>Municipio (fiscal)</mat-label>
              <input matInput formControlName="factMunicipio" />
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <mat-label>Estado (fiscal)</mat-label>
              <input matInput formControlName="factEstado" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Consentimiento -->
  <mat-card class="mb-4">
    <mat-card-content>
      <mat-checkbox formControlName="aceptaAvisoPrivacidad">
        He leído y acepto el Aviso de Privacidad
      </mat-checkbox>
      <mat-error
        *ngIf="formularioPaciente.get('aceptaAvisoPrivacidad')?.hasError('required') || formularioPaciente.get('aceptaAvisoPrivacidad')?.hasError('requiredTrue')">
        Debes aceptar el aviso de privacidad
      </mat-error>
    </mat-card-content>
  </mat-card>

  <!-- Acciones -->

  <div style="display: flex; justify-content: flex-end">
    <button mat-stroked-button type="button" (click)="cancelar()">
      <mat-icon>close</mat-icon> Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="formularioPaciente.invalid" class="ms-3">
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>