.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 220px;
}

.main-content {
    padding: 1.5rem;
}

.menu-item {
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 12px;
    }

    span {
        font-size: 15px;
    }
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .sidenav {
    width: 220px;
  }
}

.main-header button {
    display: inline-flex;
  }

@media (min-width: 768px) {
  .main-header button {
  display: inline-flex;
  margin-right: 12px;
  }
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
}

.logout-item {
  margin-top: auto;
}

.toolbar-lateral mat-toolbar {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 10px;
}

/* Contenedor del logo y texto */
.logo {
  display: flex;
  align-items: center;
  gap: 8px; 

  img {
    width: 30px;  
    height: 30px;
    object-fit: contain;
  }
}
/* Nombre de la app */
.app-name {
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 1.2;
}

/* Usuario debajo del nombre de la app */
.usuario-info {
  margin-left: 44px; 
  margin-top: 2px;
  color: rgb(211, 208, 208);
  font-size: 13px;
  display: flex;
  flex-direction: row;
  gap: 12px; 
}

.usuario-info strong {
  font-weight: 600;
}